	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #202020;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: #444444;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 600;
		color: #333333;
	}

	p, ol, ul
	{
		margin-top: 0;
	}

	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}

	a
	{
		color: #2980b9;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
	}

	.fieldstyle  {
		padding: 8px 15px;
		margin: 5px 0;
		box-sizing: border-box;
		background-color: #F3F9FE;
		color: black;
			border: 1px solid black;
		border-radius: 2px;
	}

	.input-password {
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		background-color: #009999;
		color: black;
			border: 1px solid black;
		border-radius: 2px;
	}

	.btnsubmit{
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 16px 32px;
		text-decoration: none;
		margin: 4px 2px;
		cursor: pointer;
	}
	.btndataprep{
	background-color:#c74a45;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
	}
	.btndataprep:hover {
		background-color:#e08a09;
	}
	.btndataprep:active {
		position:relative;
		top:1px;
	}

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
	}
	
	.title .byline
	{
		font-size: 1.3em;
		color: #6F6F6F;
	}

	#logo
	{
		text-align: center;
		margin-bottom: 2em;
	}
	
	#logo h1
	{
		display: block;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}
	
	#logo span
	{
		padding-right: 1em;
		text-transform: uppercase;
		font-size: 0.90em;
		color: rgba(255,255,255,0.3);
	}

	#logo span a
	{
		color: rgba(255,255,255,0.5);
	}
	
	#logo img
	{
		display: inline-block;
		margin-bottom: 1em;
		border-radius: 50%;
	}
	
	#menu li
	{
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 1em 1em;
		text-align: center;
		text-decoration:  none;
		text-transform: uppercase;
		font-weight: 700;
		color: rgba(255,255,255,0.5);
	}

	#menu .current_page_item a
	{
		background: #2980b9;
		color: rgba(255,255,255,1);
	}

	#page
	{
		background: #2a2a2a;
	}

	#main
	{
		overflow: hidden;
		float: center;
		width: 900px;
		padding: 3em 50px 5em 50px;
		background: #54AFF2;
		border-top: 6px solid #2980b9;
		text-align: left;
	}

	#sidebar
	{
	}

	#footer
	{
	}
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/


	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright span
	{
		display: block;
		letter-spacing: 0.20em;
		line-height: 2.5em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(0,0,0,0.7);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(0,0,0,0.9);
	}

	.fa
	{
		display: block;
		color: #000;
		background: red;
	}
	.qty {
		width: 100px;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}
	.state {
		width: 80px;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}
	.zip {
		width: 100px;
		box-sizing: border-box;
		&:focus {background-color:red;}
	}

	.bold {font-weight: 600}

	td.vertical-alignfieldset {
		vertical-align: baseline;
	}
	#content input[disabled] {
		color: #DCDAD1;
		padding: 2px;
		margin: 0 0 0 0;
		background-image: none;
	}
	.dropdown {
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		background-color: #009999;
		color: black;
			border: 1px solid black;
		border-radius: 2px;
	}
	.trackingtable {
		margin: 0 auto;
	}
	.tdsize {
		height: 240px;
		width: 433px;
	}
	.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
	}
	.border {
	 border: 2px solid #004C8B;
	 -webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
	 border-radius: 10px;
	 -webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
	 -moz-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
	 box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
	}
	
/*********************************************************************************/
/* Login Page                                                                    
/*********************************************************************************/
	
	#subscribe, 
    #login{
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	border-radius: 5px;
	}
	#login{
		z-index: 22;
	}
	/**** general text styling ****/
	#wrapper h1{
		font-size: 48px;
		color: rgb(6, 106, 117);
		padding: 2px 0 10px 0;
		font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
		font-weight: bold;
		text-align: center;
		padding-bottom: 30px;
	}
	
	/** For the moment only webkit supports the background-clip:text;*/
#wrapper h1{
	background: 
	-webkit-repeating-linear-gradient(-45deg, 
		rgb(18, 83, 93) , 
		rgb(18, 83, 93) 20px,
		rgb(64, 111, 118) 20px,
		rgb(64, 111, 118) 40px,
		rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	}

	#wrapper h1:after{
		content:' ';
		display:block;
		width:100%;
		height:2px;
		margin-top:10px;
		background: 
			linear-gradient(left,  
				rgba(147,184,189,0) 0%,
				rgba(147,184,189,0.8) 20%,
				rgba(147,184,189,1) 53%,
				rgba(147,184,189,0.8) 79%,
				rgba(147,184,189,0) 100%); 
	}
	/**** advanced input styling ****/
	/* placeholder*/
	::-webkit-input-placeholder  { 
		color: rgb(190, 188, 188); 
		font-style: italic;
	}
	input:-moz-placeholder,
	textarea:-moz-placeholder{ 
		color: rgb(190, 188, 188);
		font-style: italic;
	} 
	input {
	  outline: none;
	}
	/* all the input except submit and checkbox*/
	#wrapper input:not([type="checkbox"]){
		width: 92%;
		margin-top: 4px;
		padding: 10px 5px 10px 32px;	
		border: 1px solid rgb(178, 178, 178);
		box-sizing : content-box;
		border-radius: 3px;
		box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
		transition: all 0.2s linear;
	}
	#wrapper input:not([type="checkbox"]):active,
	#wrapper input:not([type="checkbox"]):focus{
		border: 1px solid rgba(91, 90, 90, 0.7);
		background: rgba(238, 236, 240, 0.2);	
		box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	} 
	@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
	/** the magic icon trick ! **/
	[data-icon]:after {
		content: attr(data-icon);
		font-family: 'FontomasCustomRegular';
		color: rgb(106, 159, 171);
		position: absolute;
		left: 10px;
		top: 35px;
		width: 30px;
	}
	/*styling both submit buttons*/
	#wrapper p.button input{
	width: 30%;
	cursor: pointer;	
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;	
	border: 1px solid rgb(28, 108, 122);	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	border-radius: 3px;	
	box-shadow:
		0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
		0px 0px 0px 3px rgb(254, 254, 254),
		0px 5px 3px 3px rgb(210, 210, 210);
	transition: all 0.2s linear;
}
	#wrapper p.button input:hover{
		background: rgb(74, 179, 198);
	}
	#wrapper p.button input:active,
	#wrapper p.button input:focus{
		background: rgb(40, 137, 154);
		position: relative;
		top: 1px;
		border: 1px solid rgb(12, 76, 87);	
		box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	}
	p.login.button,
	p.signin.button{
		text-align: right;
		margin: 5px 0;
	}
	/* styling the checkbox "keep me logged in"*/
.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;	
	font-style: italic;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}
p.change_link{
	position: absolute;
	color: rgb(127, 124, 124);
	left: 0px;
	height: 20px;
	width: 440px;
	padding: 17px 30px 20px 30px;
	font-size: 16px	;
	text-align: right;
	border-top: 1px solid rgb(219, 229, 232);
	border-radius: 0 0  5px 5px;
	background: rgb(225, 234, 235);
	background: repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
}
#wrapper p.change_link a {
	display: inline-block;
	font-weight: bold;
	background: rgb(247, 248, 241);
	padding: 2px 6px;
	color: rgb(29, 162, 193);
	margin-left: 10px;
	text-decoration: none;
	border-radius: 4px;
	border: 1px solid rgb(203, 213, 214);
	transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
	color: rgb(57, 191, 215);
	background: rgb(247, 247, 247);
	border: 1px solid rgb(74, 179, 198);
}
#wrapper p.change_link a:active{
	position: relative;
	top: 1px;
}
#register{	
	z-index: 21;
	opacity: 0;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	animation-name: fadeInLeft;
	animation-delay: .1s;
}
.animate{
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	animation-name: fadeOutLeftBig;
}

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		transform: translateX(-20px);
	}
}
/* Gradient transparent - color - transparent*/

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
			
